<script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<header class="py-4">

</header>

<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container">
    <a href="./" class="navbar-brand">Mr.M COFFEE</a>
    <button aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar-content" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="#" class="nav-link">Top <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Menu</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Coupon</a>
        </li>
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button">
            Information
          </a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu">
            <a href="#" class="dropdown-item">Shop</a>
            <a href="#" class="dropdown-item">Access</a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="contact" class="nav-link btn btn-info">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<main>
  <div class="py-4">
    <div class="container text-center">
      <h1><a href="./"><img alt="カフェ Mr.M COFFEE" src="https://placehold.jp/244x47.png"></a></h1>
    </div>
  </div>
  <div class="py-4">
    <div class="container">
      <div class="carousel slide" data-ride="carousel" id="main_visual">
        <ol class="carousel-indicators">
          各インディケーターが入ります
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            1枚目のスライド画像とキャプションが入ります
          </div>
          <div class="carousel-item">
            2枚目のスライド画層とキャプションが入ります
          </div>
          <div class="carousel-item">
            3枚目のスライド画層とキャプションが入ります
          </div>
        </div>
        <a class="carousel-control-prev" data-slide="prev" href="#main_visual" role="button">
          前に戻るコントローラ「＜」が入ります
        </a>
        <a class="carousel-control-next" data-slide="next" href="#main_visual" role="button">
          次に進むコントローラ「＞」が入ります
        </a>
      </div>
    </div>
  </div>
  <div class="py-4">

  </div>
  <div class="py-4">

  </div>
  <div class="py-4">

  </div>
</main>
<footer class="py-4">
